**/.specstory/
**/.cursorindexingignore
HW2/frozenlake_env/**
HW2/code/multirun/**
HW2/code/outputs/**
**/__pycache__/**
venv
**/_MACOSX
**/.DS_Store
**/._.DS_Store
**/.vscode
**/.idea
课题小实验作业/DQN/atari/Atari-2600-VCS-ROM-Collection
**/encoded_output.txt
**/logs
**/*.pth
腾讯开悟平台实验/gorge_walk/*.md
!腾讯开悟平台实验/gorge_walk/README.md
**/*.zip